<div class="tab-pane fade show active" id="index" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="col-xl-12 col-md-12 pl-0">
    
            <div class="container">
    
                <div class="card">
    
                    <div class="card-header">
                        Số link còn lại: <span><%- indexAmount%></span>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="form-group">
                                <label for="links">Danh sách link ( mỗi link trên 1 dòng)</label>
                                <textarea id="links" class="form-control"></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" value="submit">
                        </form>
                    </div>
    
                </div>
    
            </div>
    
    
        </div>
    </div>