<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

    <div class="col-xl-12 col-md-12 pl-0">
        <div class="card-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-3 col-form-label pr-0">Từ khóa</label>
                        <div class="col-7 pl-0">
                            <input id='keyword' type="text" class="form-control pl-0" required value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="col-3 col-form-label pr-0">Trang test</label>
                        <div class="col-7 pl-0">
                            <input type="text" class="form-control pl-0" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row form-group">
                        <div class="checkbox">
                            <input id="checkbox2" type="checkbox">
                            <label for="checkbox2">
                                Tự động xóa cookies
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox">
                            <input id="useragent" type="checkbox">
                            <label for="useragent">
                                Tự động thay đổi UserAgent
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row form-group">
                        <div class="radio">
                            <input type="radio" name="radio" id="radio0" value="option1" checked>
                            <label for="radio0">
                                Click ngẫu nhiên đối thủ có cùng keyword
                            </label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="radio">
                            <input type="radio" name="radio" id="radio0" value="option1" checked>
                            <label for="radio0">
                                Click theo tên miền
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row form-group">
                        <div class="radio">
                            <input type="radio" name="radio" id="radio0" value="option1" checked>
                            <label for="radio0">
                                Click theo title
                            </label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="radio">
                            <input type="radio" name="radio" id="radio0" value="option1" checked>
                            <label for="radio0">
                                Click theo link
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Title website</label>
                        <div class="col-4">
                            <textarea class="form-control" id='title' required rows="4"></textarea>

                        </div>
                        <div class="col-4">
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Delay</label>
                                <div class="col-10">
                                    <input type="number" class="form-control" id="delayTime" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 col-form-label">Bơm</label>
                                <div class="col-10">
                                    <input type="number" id='numberOfClick' required class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <div class="row">
                                <button type="button" class="btn btn-outline-dark w-100 btn-lg">Lưu cấu hình</button>
                            </div>
                            <div class="row">
                                <button id='btnstart' onclick='runTool()' type="button"
                                    class="btn btn-outline-success w-100 btn-lg">Bắt
                                    đầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-12 col-form-label pr-2">IP hiện tại: <span id='currentIP'
                                class=" col-form-label text-muted">1212</span></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label pr-2">UserAgent hiện tại: <span id='currentUserAgent'
                                class="text-muted col-form-label"></span></label>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label pr-2"> Trang web hiện tại: <span id='currentURL'
                                class="text-muted col-form-label"></span></label>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" style="padding: 0 0 10px 10px;">
                    <div id="logBox">
                        <ul id="listLog">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>