<div class="tab-pane fade" id="click-backlink" role="tabpanel" aria-labelledby="nav-home-tab">

    <div class="col-xl-12 col-md-12 pl-0">
        <div class="card-box">
            <div class="form-group row">
                <label class="col-2 col-form-label pr-0">Website</label>
                <div class="col-4">
                    <input id='domain_backlink' type="text" class="form-control pl-0" data-focus=" Website" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label pr-0">Backlink</label>
                <div class="col-4">
                    <input id='backlink' type="text" class="form-control pl-0" data-focus=" Backlink" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Delay (giây)</label>
                <div class="col-4">
                    <input type="text" id='delay_backink' onkeypress="acceptPositiveNumber(event)" class="form-control" data-focus=" Delay"
                        value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Số lần muốn bơm</label>
                <div class="col-4">
                    <select id='suggestTime_backlink' class="form-control">
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <div class="row">
                                <button id='btnStartBacklink' onclick='clickBacklink()' type="button"
                                    class="btn btn-outline-success w-100 btn-lg">Bắt
                                    đầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" style="padding: 0 0 10px 10px;">
                    <div id="logBoxBacklink">
                        <ul id="listLogBacklink">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>