
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="col-xl-12 col-md-12 pl-0">

                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Từ khóa</label>
                                                <div class="col-4">
                                                    <input type="text" id='suggestKeyword' class="form-control" required
                                                        value="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Domain</label>
                                                <div class="col-4">
                                                    <input type="text" id='domain' class="form-control" value="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Delay (giây)</label>
                                                <div class="col-4">
                                                    <input type="text" id='delay-suggest'
                                                        onkeypress="acceptPositiveNumber(event)" class="form-control"
                                                        required value="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Số lần muốn bơm</label>
                                                <div class="col-4">
                                                    <select id='suggestTime' class="form-control">
                                                        <option value="500">500</option>
                                                        <option value="1000">1000</option>
                                                        <option value="5000">5000</option>
                                                        <option value="10000">10000</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-8"></div>
                                                <div class="col-4 text-right">
                                                    <button type="button" onclick='runSuggestTool()'
                                                        class="btn btn-outline-dark px-4 mr-2">Suggest</button>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-md-12" style="padding: 0 0 10px 10px;">
                                                    <div id="logBox">
                                                        <ul id="listLogSuggest">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>