<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="view-modal"
    aria-labelledby="view-form" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="view-form">Suggest Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Từ khóa</label>
                            <div class="col-8">
                                <input type="text" id='view-suggestKeyword' class="form-control" data-focus=" Keyword"
                                    value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Domain</label>
                            <div class="col-8">
                                <input type="text" id='view-domain' class="form-control" data-focus=" Domain" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Delay (giây)</label>
                            <div class="col-8">
                                <input type="text" id='view-delay-suggest' data-focus=" Delay" class="form-control"
                                    onkeypress="acceptPositiveNumber(event)" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Số lần muốn bơm</label>
                            <div class="col-8">
                                <select id='view-suggestTime' class="form-control">
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="5000">5000</option>
                                    <option value="10000">10000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="checkbox">
                                <input id="checkbox4" type="checkbox" checked disabled>
                                <label for="checkbox4">
                                    Tự động xóa cookies
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="checkbox">
                                <input id="checkbox3" type="checkbox" checked disabled>
                                <label for="checkbox3">
                                    Tự động thay đổi UserAgent
                                </label>
                            </div>
                        </div>
                        <div class="form-group row" style="visibility: hidden">
                            <div class="checkbox">
                                <input id="" type="checkbox">
                                <label for="">
                                    .
                                </label>
                            </div>
                        </div>
                        <div class="form-group row" style="visibility: hidden">
                            <div class="checkbox">
                                <input id="" type="checkbox">
                                <label for="">
                                    .
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-12 col-form-label pr-2">UserAgent hiện tại: <span id='currentUserAgent'
                                    class="text-muted col-form-label"></span></label>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label pr-2"> Trang web hiện tại: <span id='currentURL'
                                    class="text-muted col-form-label"></span></label>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12" style="padding: 0 0 10px 10px;">
                        <div class="logBox" id="view-logBox">
                            <ul id="view-listLogSuggest">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->