<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="ad-modal"
    aria-labelledby="ad-form" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content pb-0">
            <div class="modal-header">
                <h4 class="modal-title" id="ad-form">Tạo dự án</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body pb-0">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group row">
                            <label class="col-3 col-form-label pr-0">Tên dự án</label>
                            <div class="col-8">
                                <input id='projectName_ad' type="text" class="form-control pl-0" data-focus="Tên dự án"
                                    value="">
                            </div>
                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-3 col-form-label pr-0">Trang chứa quảng cáo cần click</label>
                            <div class="col-8">
                                <input id='main_url_ad' type="text" class="form-control pl-0" data-focus="Trang chứa quảng cáo cần click"
                                    value="">
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-3 col-form-label pr-0">URL cần view (Mỗi url trên một dòng)</label>
                            <div class="col-8">
                                <textarea id='ad_url' type="text" class="form-control pl-0" data-focus="URL quảng cáo"
                                    value=""></textarea>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-3 col-form-label">Thời gian view (giây)</label>
                            <div class="col-8">
                                <input type="text" id='delay_ad' onkeypress="acceptPositiveNumber(event)"
                                    class="form-control" data-focus="Delay" value="">
                            </div>
                        </div>

                        

                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" disabled checked class="form-check-input" value="">Tự động xóa cookies
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" disabled checked class="form-check-input" value="">Tự động thay đổi User Agent
                            </label>
                          </div>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="" id='isRandom'>Click random trên site trong khi view
                            </label>
                          </div>
                        <div class="form-group row">
                            <div class="col-9"></div>
                            <div class="col-3">
                                <div class="row">
                                    <button id='btnStartAd' onclick="saveAD()" type="button"
                                        class="btn btn-outline-success w-100 btn-lg">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->