<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/page-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:19:20 GMT -->

<head>
  <% include ../partials/head %>

</head>

<body>

  <div class="account-pages"></div>
  <div class="clearfix"></div>
  <div class="wrapper-page">
    <div class="ex-page-content text-center">
      <div class="text-error">404</div>
      <h3 class="text-uppercase font-600">Page not Found</h3>
      <p class="text-muted">
        It's looking like you may have taken a wrong turn. Don't worry... it happens to
        the best of us. You might want to check your internet connection. Here's a little tip that might
        help you get back on track.
      </p>
      <br>
      <a class="btn btn-success waves-effect waves-light" href="/"> Return Home</a>

    </div>
  </div>
  <!-- End wrapper page -->


  <% include ../partials/scripts %>

</body>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/page-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:19:20 GMT -->

</html>