<!-- The Modal -->
<div class="modal" id="changePassword-modal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Đổi mật khẩu</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">

            <div class="input-group mb-3">
              <input  type="password" class="form-control" placeholder="Nhập mật khẩu cũ" 
              id="oldPassword" 
              name="oldPassword"
              data-focus='Mật khẩu cũ'>
            </div>

            <div class='input-group mb-3'>
                    <input 
                    id='newPassword' 
                    data-focus="Mật khẩu mới"
                    type="password" class="form-control" placeholder="Nhập mật khẩu mới">
            </div>

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button onclick="changePassword()" class='btn btn-success'>Đổi mật khẩu</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
  
      </div>
    </div>
  </div>