<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:14:52 GMT -->

<head>
  <% include ../partials/head %>

</head>


<body class="fixed-left">

  <!-- Begin page -->
  <div id="wrapper">

    <!-- Top Bar Start -->
    <% include ../partials/topbar %>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page ml-0">
      <!-- Start content -->
      <div class="content">
        <div class="container">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-suggest-tab" data-toggle="tab" href="#suggest" role="tab"
                aria-controls="suggest" aria-selected="true">Suggest</a>
              <a class="nav-item nav-link " id="nav-click-backlink-tab" data-toggle="tab" href="#click-backlink"
                role="tab" aria-controls="click-backlink" aria-selected="false">Click Backlink</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <% include ./feature-partials/click-backlink %>
            <% include ./feature-partials/suggest %>
          </div>
        </div> <!-- container -->

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


        <!-- Right Sidebar -->
        <!-- /Right-bar -->

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


        <!-- Right Sidebar -->
        <!-- /Right-bar -->

      </div>
      <!-- END wrapper -->

      <% include ../partials/scripts %>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script>
        var socket = io();
        socket.on('server-send-current-useragent', (data) => {
          appendLog(data.projectId, 'Thay đổi User Agent thành công');
        })

        socket.on('server-send-current-url', (data) => {
          appendLog(data.projectId, data.url);
          appendLog(data.projectId, 'Đang lả lướt trên trang ...')
        })

        socket.on('not found url', (projectId) => {
          appendLog(projectId, "Không tìm thấy url hoặc title khớp với truy vấn ở thiết bị đang giả lập, đang chuyển sang thiết bị khác ...");
        })

        socket.on('invalid-query', () => {
          appendLog('Tiêu đề hoặc URL đã nhập không khớp với bất kì kết quả tìm kiếm nào, vui lòng thử lại !');
          alert('Tiêu đề hoặc URL đã nhập không khớp với bất kì kết quả tìm kiếm nào, vui lòng thử lại !')
        })
        socket.on('changing-agent', (projectId) => {
          appendLog(projectId, 'Đang thay đổi User Agent ...');
        })
        socket.on('go-google', (projectId) => {
          appendLog(projectId, "https://www.google.com/");
        })

        socket.on('close-brower', (projectId) => {
          appendLog(projectId, 'Đang đóng trình duyệt ...')
          $('#currentUserAgent').text('');
          $('#currentURL').text('');
        })

        socket.on('next-page', (projectId) => {
          appendLog(projectId, 'Không tìm thấy domain ở trang hiện tại, đang chuyển sang trang kế ...')
        })

        socket.on('send-id', (id) => {
          console.log(id);
          localStorage.setItem('id', id);
        })

        socket.on('changing-agent-backlink', () => {
          appendLogBacklink('Đang thay đổi user agent ...');
        })

        socket.on('agent-backlink', (data) => {
          appendLogBacklink('User agent hiện tại: ' + data);
        })

        socket.on('send-domain-backlink', (domain) => {
          appendLogBacklink('Đang truy cập: ' + domain);
        })

        socket.on('finding-backlink', () => {
          appendLogBacklink('Đang tìm backlink ... ');
        })

        socket.on('found-backlink', (link) => {
          appendLogBacklink('Đã tìm thấy backlink, đang truy cập ' + link);
          appendLogBacklink('Delay ...')
        })

        socket.on('not-found-backlink', (link) => {
          appendLogBacklink('Không tìm thấy ' + link);
          appendLogBacklink('Vui lòng kiểm tra lại ');
          alert('Không tìm thấy backlink, vui lòng kiểm tra lại ');
        })

        const runTool = (e) => {
          $('#listLogSuggest').empty();
          let validate = CheckValide();
          if (validate.err) {
            alert("Please insert" + validate.message);
            return false;
          }
          $.post("/run",
            {
              keyword: $('#keyword').val(),
              title: $('#title').val(),
              isAutochangeUserAgent: JSON.parse($('#useragent').is(":checked")),
              delayTime: 5,
              numberOfClick: $('#numberOfClick').val(),
              socketID: localStorage.getItem('id')

            },
            function (data, status) {
              console.log(data);
            });
        }
        const runSuggestTool = (id) => {

          $('#listLogSuggest').empty();

          $.post("/suggest",
            {
              socketID: localStorage.getItem('id'),
              projectId: id
            },
            function (data, status) {
              console.log(data);
            });
        }

        const clickBacklink = () => {
          let validate = CheckValideBackLink();
          if (validate.err) {
            alert("Please insert" + validate.message);
            return false;
          }
          $('#listLogBacklink').empty();

          $.post("/backlink",
            {
              domain: $('#domain_backlink').val(),
              delay: $('#delay_backink').val(),
              amount: $('#suggestTime_backlink').val(),
              socketID: localStorage.getItem('id'),
              backlink: $('#backlink').val()

            },
            function (data, status) {
              console.log(data);
            });
        }
        //save config
        function saveProject() {
          let validate = CheckValideSuggest();
          if (validate.err) {
            alert("Please insert" + validate.message);
            return false;
          }


          $.post("/addproject",
            {
              keyword: JSON.stringify($('#suggestKeyword').val().split(',')),
              domain: $('#domain').val(),
              isAutochangeUserAgent: JSON.parse($('#useragent').is(":checked")),
              delay: $('#delay-suggest').val(),
              amount: $('#suggestTime').val(),
              socketID: localStorage.getItem('id'),
              name: $('#projectName').val()
            },
            function (data, status) {
              console.log(data);
            });
        }

        function viewProject(id) {
          $('#view-logBox').children(0).attr("id", id);
          $.get(`/project/${id}`).done(function (data) {
            $('#view-projectName').val(data.name);
            $('#view-suggestKeyword').val(data.keyword);
            $('#view-domain').val(data.domain);
            $('#view-delay-suggest').val(data.delay);
            $('#view-suggestTime').val(data.amount);
            data.log.map((item) => {
              $(`#${id}`).prepend(`<li>${item.message}</li>`);
            })

          })
        }
        //valide data
        function CheckValide(listInput) {
          listInput.forEach(element => {
            element.css("border-color", "#E3E3E3");
          });
          for (let element of listInput) {
            if (element.val() == "") {
              element.focus();
              element.css("border-color", "red")
              return { err: true, message: element.attr('data-focus') };
            }
          }
          return { err: false };
        }
        //valide data Back link
        function CheckValideBackLink() {
          let domainBacklink = $('#domain_backlink');
          let backlink = $('#backlink');
          let delayBackLink = $('#delay_backink');

          return (CheckValide([domainBacklink, backlink, delayBackLink]));
        }
        //valide data suggest
        function CheckValideSuggest() {
          let suggestKeyword = $('#suggestKeyword');
          let domain = $('#domain');
          let delaySuggest = $('#delay-suggest');
          let projectName = $("#projectName")
          return (CheckValide([projectName, suggestKeyword, domain, delaySuggest]));
        }
        // accept only positve number in input
        function acceptPositiveNumber(event) {
          return (event.charCode >= 48 && event.charCode <= 57) ? true : event.preventDefault();
        }
        //append log
        function appendLog(projectId, messageLog) {
          let timeLog = new Date();
          let log = `${timeLog.getHours() > 10 ? timeLog.getHours() : '0' + timeLog.getHours()}:`
            + `${timeLog.getMinutes() > 10 ? timeLog.getMinutes() : '0' + timeLog.getMinutes()}:`
            + `${timeLog.getSeconds() > 10 ? timeLog.getSeconds() : '0' + timeLog.getSeconds()}:`
            + `  ${messageLog}`;
          $(`#${projectId}`).prepend(`<li>${log}</li>`);
        }

        function appendLogBacklink(messageLog) {
          let timeLog = new Date();
          let log = `${timeLog.getHours() > 10 ? timeLog.getHours() : '0' + timeLog.getHours()}:`
            + `${timeLog.getMinutes() > 10 ? timeLog.getMinutes() : '0' + timeLog.getMinutes()}:`
            + `${timeLog.getSeconds() > 10 ? timeLog.getSeconds() : '0' + timeLog.getSeconds()}:`
            + `  ${messageLog}`;
          $("#listLogBacklink").prepend(`<li>${log}</li>`);
        }
      </script>
</body>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:15:13 GMT -->

</html>