<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:14:52 GMT -->

<head>
  <% include ../partials/head %>

</head>


<body class="fixed-left">

  <!-- Begin page -->
  <div id="wrapper">

    <!-- Top Bar Start -->
    <% include ../partials/topbar %>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page ml-0">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-7 col-md-6">
              <label for="" class="col-form-label">Click Adword của đối thủ</label>
              <div class="card-box">

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-4 col-form-label">Từ khóa</label>
                      <div class="col-7">
                        <input id='keyword' type="text" class="form-control" required value="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-4 col-form-label">Trang test</label>
                      <div class="col-7">
                        <input type="text" class="form-control" value="">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="checkbox">
                        <input id="checkbox2" type="checkbox">
                        <label for="checkbox2">
                          Tự động xóa cookies
                        </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="checkbox">
                        <input id="useragent" type="checkbox">
                        <label for="useragent">
                          Tự động thay đổi UserAgent
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="radio">
                      <input type="radio" name="radio" id="radio0" value="option1" checked>
                      <label for="radio0">
                        Click ngẫu nhiên đối thủ có cùng keyword
                      </label>
                    </div>
                    <div class="radio">
                      <input type="radio" name="radio" id="radio1" value="option1" checked>
                      <label for="radio1">
                        Click theo tên miền
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-12 col-form-label">Title website</label>
                      <div class="col-6">
                        <textarea class="form-control" id='title' required rows="4"></textarea>

                      </div>
                      <div class="col-6">
                        <div class="form-group row">
                          <label class="col-2 col-form-label">Delay</label>
                          <div class="col-10">
                            <input type="text" class="form-control" id="delayTime" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-2 col-form-label">Bơm</label>
                          <div class="col-10">
                            <input type="text" id='numberOfClick' required class="form-control" value="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-12 col-form-label pr-2">IP hiện tại: <span id='currentIP'
                          class=" col-form-label text-muted">1212</span></label>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label pr-2">UserAgent hiện tại: <span id='currentUserAgent'
                          class="text-muted col-form-label"></span></label>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-form-label pr-2"> Trang web hiện tại: <span id='currentURL'
                          class="text-muted col-form-label"></span></label>
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 0 0 10px 10px;">
                    <div id="logBox">
                      <ul id="listLog">
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-outline-dark btn-lg">Lưu cấu hình</button>
                    <button id='btnstart' onclick='runTool()' type="button" class="btn btn-outline-success btn-lg">Bắt
                      đầu</button>
                  </div>
                </div>
              </div>
            </div><!-- end col -->

            <div class="col-xl-5 col-md-6">
              <label for="" class="col-form-label">Sugget</label>

              <div class="card-box">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Từ khóa</label>
                      <div class="col-4">
                        <input type="text" class="form-control" required value="">
                      </div>
                      <div class="radio ml-2">
                        <input type="radio" name="radio" id="radio1" value="option1" checked>
                        <label for="radio1">
                          3G
                        </label>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Domain</label>
                      <div class="col-4">
                        <input type="text" class="form-control" value="">
                      </div>
                      <label class="col-2 col-form-label">Max Page</label>
                      <div class="col-2">
                        <input type="number" class="form-control" value="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Delay (giây)</label>
                      <div class="col-4">
                        <input type="text" class="form-control" required value="">
                      </div>

                      <div class="checkbox mt-2">
                        <input id="checkbox0" type="checkbox">
                        <label for="checkbox0">
                          Random
                        </label>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-4 col-form-label">Ngừng trước khi tìm kiếm</label>
                      <div class="col-4">
                        <input type="number" class="form-control" value="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-4 col-form-label">Số lần muốn bơm</label>
                      <div class="col-4">
                        <input type="number" class="form-control" value="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-7">
                        <textarea class="form-control" rows="5"></textarea>
                      </div>
                      <div class="col-5">

                        <button type="button" class="btn btn-outline-dark w-100">Lưu cấu hình</button>
                        <button type="button" class="btn btn-outline-dark w-100">Tạo</button>
                        <button type="button" class="btn btn-outline-dark px-4 mr-2">Suggest</button>
                        <button type="button" class="btn btn-outline-dark w-50 px-0 mx-0">Thoát</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- end col -->


          </div>
          <!-- end row -->

        </div> <!-- container -->

      </div> <!-- content -->

      <footer class="footer text-right">
        2016 - 2019 © Adminto. Coderthemes.com
      </footer>

    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <!-- /Right-bar -->

  </div>
  <!-- END wrapper -->



  <% include ../partials/scripts %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script>
    var socket = io.connect('http://localhost:3000');
    socket.on('server-send-current-useragent', (data) => {
      console.log(data)
      $('#currentUserAgent').text(data);
      appendLog('Thay đổi User Agent thành công');
    })

    socket.on('server-send-current-url', (url) => {
      $('#currentURL').text(url);
      appendLog(url);
    })
    socket.on('not found url', () => {
      appendLog("Không tìm thấy url hoặc title khớp với truy vấn ở thiết bị đang giả lập, đang chuyển sang thiết bị khác ...");
    })
    socket.on('invalid-query', () => {
      appendLog('Tiêu đề hoặc URL đã nhập không khớp với bất kì kết quả tìm kiếm nào, vui lòng thử lại !');
      alert('Tiêu đề hoặc URL đã nhập không khớp với bất kì kết quả tìm kiếm nào, vui lòng thử lại !')
    })
    socket.on('changing-agent',()=>{
      appendLog('Đang thay đổi User Agent ...');
    })
    socket.on('go-google',()=>{
      appendLog("https://www.google.com/");
    })
    socket.on('close-brower',()=>{
      appendLog('Đang đóng trình duyệt ...')
      $('#currentUserAgent').text('');
      $('#currentURL').text('');
    })  
    socket.on('send-id',(id)=>{
      console.log(id);
      localStorage.setItem('id',id);
    })
    const runTool = (e) => {
      $('#listLog').empty();
      let validate = CheckValide();
      if (validate.err) {
        alert("Please insert" + validate.message);
        return false;
      }
      $.post("/run",
        {
          keyword: $('#keyword').val(),
          title: $('#title').val(),
          isAutochangeUserAgent: JSON.parse($('#useragent').is(":checked")),
          delayTime: 5,
          numberOfClick: $('#numberOfClick').val(),
          socketID:localStorage.getItem('id')

        },
        function (data, status) {
          console.log(data);
        });
    }

    //valide data
    function CheckValide() {
      let keyword = $('#keyword');
      let title = $('#title');
      let delayTime = $('#delayTime');
      let numberOfClick = $('#numberOfClick');

      keyword.css("border-color", "#E3E3E3");
      title.css("border-color", "#E3E3E3");
      delayTime.css("border-color", "#E3E3E3");
      numberOfClick.css("border-color", "#E3E3E3");

      if (keyword.val() == "") {
        keyword.focus();
        keyword.css("border-color", "red")
        return { err: true, message: " Keyword" };
      }
      else if (title.val() == "") {
        title.focus();
        title.css("border-color", "red")
        return { err: true, message: " Title" };
      }
      else if (delayTime.val() == "") {
        delayTime.focus();
        delayTime.css("border-color", "red")
        return { err: true, message: " Delay time" };
      }
      else if (numberOfClick.val() == "") {
        numberOfClick.focus();
        numberOfClick.css("border-color", "red")
        return { err: true, message: " Number of click" };
      }
      return { err: false };
    }

    //append log
    function appendLog(messageLog) {
      $("#listLog").prepend(`<li>${messageLog}</li>`);
    }
  </script>
</body>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:15:13 GMT -->

</html>