<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="suggest-modal"
    aria-labelledby="suggest-form" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content pb-0">
            <div class="modal-header">
                <h4 class="modal-title" id="suggest-form">Suggest Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body pb-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Tên dự án</label>
                            <div class="col-8">
                                <input type="text" id='projectName' class="form-control" data-focus="Tên dự án"
                                    value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Từ khóa(Mỗi từ khóa trên một dòng, tối đa 15 keywords)</label>
                            <div class="col-8">
                                <textarea type="text" id='suggestKeyword' class="form-control" data-focus="Từ khóa"
                                    value=""></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Domain</label>
                            <div class="col-8">
                                <input type="text" id='domain' class="form-control" data-focus="Domain" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Delay (giây)</label>
                            <div class="col-8">
                                <input type="text" id='delay-suggest' data-focus="Delay" class="form-control"
                                    onkeypress="acceptPositiveNumber(event)" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Số lượng traffic</label>
                            <div class="col-8">
                                <select id='suggestTime' class="form-control">
                                    <option value="<%- traffic%>"><%- traffic%> </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Công cụ tìm kiếm</label>
                            <div class="col-8">
                                <select id='searchingTools' class="form-control">
                                    <option value="google.com">google.com</option>
                                    <option value="google.com.vn">google.com.vn</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row form-group">
                            <div class="checkbox">
                                <input id="checkbox4" type="checkbox" checked disabled>
                                <label for="checkbox4">
                                    Tự động xóa cookies
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="checkbox">
                                <input id="checkbox3" type="checkbox" checked disabled>
                                <label for="checkbox3">
                                    Tự động thay đổi UserAgent
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="checkbox">
                                <input id="checkbox3" type="checkbox" checked disabled>
                                <label for="checkbox3">
                                    Tự động click ngẫu nhiên url<br> sau khi view web
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="instruction">

                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-8"></div>
                        <div class="col-4 text-right">
                            <button id='btnSuggest' type="button" onclick='saveProject()'
                                class="btn btn-outline-success px-4 mr-2">Lưu</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->